@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #ffffff;
  
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1px;
}



.cover {
    display: flex;
    justify-content: center;
    padding: 20px;
  }


.bar-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.bar {
  padding: 6px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  justify-content: center;

}
